@import './base.css';

#app {

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #39a49b;

}

@media (hover: hover) {
  a:hover {
    transition:background-color .5s ease-out;
    background-color: hsla(147, 53%, 43%, 0.2);
    border-radius: 40px;
    padding: 7px 15px;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {

    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
